<% include partials/header.ejs %>

  <div class="column register is-half is-offset-one-quarter">
    <form class="box" action="/login" method="POST">
      <label>Login</label>
      <div class="field">
        <p class="control has-icons-left">
          <input class="input is-small" type="text" name="username" placeholder="username">
          <span class="icon is-small is-left">
            <i class="fa fa-user-circle"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input class="input is-small" type="password" name="password" placeholder="password">
          <span class="icon is-small is-left">
            <i class="fa fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <input class="button" type="submit" value="submit">
      </div>
    </form>
  </div>







<%- include partials/footer %>
